/* 
    Document   : tableStyles
    Created on : 2014-10-15, 22:27:56
    Author     : Tianyang
    Description:
        Purpose of the stylesheet follows.
*/

.mytable{
    background-color:#989898;
    border-style: solid;
    border-collapse: collapse;
    border-color:rgb(24,0,0);
    margin-left:3%;
}

.mytable th{
    border:3px;
    padding:15px;
    text-align: center;
    border:solid;
}

.mytable tr,td{
    text-align: center;
    padding:6px 15px;
    text-align: center;
    border:solid;
}

.mytable tr:hover{
    background:#71869C;
    
}
